<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="index.css">

</head>
<body>

<form action="/loginPage" method="post" id="login-form">
    <center><p id="hello-text"><b>Log in </b></p></center>
    <input type="text" id="login" th:field="*{loginKey.login}" class="text-field" placeholder="Login">
    <input type="password" id="pass" th:field="*{loginKey.pass}" class="text-field" placeholder="Password">
    <input type="submit" class="buttonPointer" value="OK">
</form>
</body>
</html>