<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet"type="text/css" href="login-form.css">
</head>
<body>

<form action="/loginPage" method="post" id="login-form">
    <div>
        <img src="scooter.jpg" alt="Scooter" class="scooter">
    </div>
    <div class="imgcontainer">
        <img src="avatar.jpg" alt="Avatar" class="avatar">

    </div>

    <div class="container">

        <center><input type="text" th:field="*{loginKey.login}"placeholder="Enter Username" name="uname" required></center>


        <center> <input type="password"th:field="*{loginKey.pass}" placeholder="Enter Password" name="psw" required></center>

        <center> <button type="submit">Login</button></center>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>
</body>
</html>